.card{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-color: rgb(194, 0, 194);
    border-radius: 15px;
    font-size: 10px;
    font-family:Arial, sans-serif;
    margin: 10px;
    perspective: 1000px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card-front, .card-back{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.card-front{
    background-color: rgb(194, 0, 194);
    z-index: 1;
}
.card-back{
    background-color: rgb(194, 0, 194);
    transform: rotateY(180deg);

}
#para{
    font-size: 15px;
}
.rotate .card-inner{
    transform: rotateY(180deg);

}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px rgb(224, 89, 112);
}

.card img{
    width: 265px;
    
    margin: 5px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgb(184, 2, 184);
}
.card p{
    color: black;
    font-size: 25px;
    
}